body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 24px;
  }

 header img {
    max-width: 100px;
    height: auto; 
    display: block; 
    margin-left: 0 auto; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  main {
    padding: 20px;
  }
  
  .welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-content {
    flex: 1;
  }
  
  .text-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .text-content p {
    font-size: 18px;
    color: #666;
  }
  
  .image {
    flex: 1;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
  }
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
.social-links {
  margin-top: 20px;
}

.social-links a {
  margin-right: 10px;
}
.social-links img {
  width: 30px;
  height: 30px;
}
